@import url(https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

body {
  margin: 0;
  font-family: 'Lato', sans-serif;

  /* background-color: rgb(25 27 27); */
  background-color: rgb(53, 53, 53);
  /* background-color: rgb(215, 214, 214); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}